.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);

}

.navbar .profile{
    width: 40px;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    padding: 8px 16px;
    border: none;
    background: tomato;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.logout-btn:hover {
    background: rgb(218, 72, 46);
}